@import 'Spinner.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-height: 100px;

    --white: white;
    --black: rgb(0, 0, 0);
    --offWhite: #f6f6f6;
    --primary_main: #2f33d0;
    --primary_alt: #ff97d6;
    --secondary_1: #00deb5;
    --secondary_2: #ffc501;
    --secondary_3: #ff4b00;
    --secondary_4: #009159;
}

::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-width: 0;
    background: var(--primary_main);
    cursor: pointer;
}

::-moz-range-thumb:hover {
    filter: brightness(1.5);
}

::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-width: 0;
    background: var(--primary_main);
    cursor: pointer;
}

::-webkit-slider-thumb:hover {
    filter: brightness(1.5);
}