@import 'Spinner.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-height: 100px;

    --white: white;
    --black: rgb(0, 0, 0);
    --offWhite: #f6f6f6;
    --primary_main: #2f33d0;
    --primary_alt: #ff97d6;
    --secondary_1: #00deb5;
    --secondary_2: #ffc501;
    --secondary_3: #ff4b00;
    --secondary_4: #009159;
}

::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-width: 0;
    background: var(--primary_main);
    cursor: pointer;
}

::-moz-range-thumb:hover {
    filter: brightness(1.5);
}

::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-width: 0;
    background: var(--primary_main);
    cursor: pointer;
}

::-webkit-slider-thumb:hover {
    filter: brightness(1.5);
}

.leaflet-control-geocoder-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12.2 13l3.4 6.6c.6 1.1 2.5-.4 2-1.2l-4-6.2z'/%3E%3Ccircle cx='10.8' cy='8.9' r='3.9' fill='none' stroke='%23000' stroke-width='1.5'/%3E%3C/svg%3E");
}

.leaflet-control-geocoder-alternatives {
    max-height: 250px;
    overflow-y: scroll;
}

/*.leaflet-container {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*}*/