@import 'Navbar.css';
@import 'BookingHero.css';

*, ::after, ::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 100px;

    --white: white;
    --black: rgb(0, 0, 0);
    --offWhite: #f6f6f6;
    --primary_main: #2f33d0;
    --primary_alt: #ff97d6;
    --secondary_1: #00deb5;
    --secondary_2: #ffc501;
    --secondary_3: #ff4b00;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}